body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #1b3ba3;
    color: #fff;
}

.card-title {
    margin-bottom: 0;
}